.sidemenu {
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: all;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease;
}

.sidemenu.show + .sidemenu__toggler {
  justify-content: center;
}
.sidemenu.show + .sidemenu__toggler span {
  margin-top: -1.2px;
  margin-bottom: -1.2px;
}
.sidemenu.show + .sidemenu__toggler span:first-child {
  transform: rotate(45deg);
}
.sidemenu.show + .sidemenu__toggler span:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}
.sidemenu.show + .sidemenu__toggler span:last-child {
  transform: rotate(-45deg);
}

.sidemenu.show {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.sidemenu__toggler {
  margin-left: 20px;
  width: 1rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.sidemenu__toggler span {
  background-color: white;
  width: 100%;
  height: 2.4px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.sidemenu__togglerName {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  cursor: pointer;
}
